# Database Credentials
POSTGRES_USER=clouduser
POSTGRES_PASSWORD=CloudPass2024!

# MinIO Credentials
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=CloudPass2024!

# Grafana Admin Password
GF_SECURITY_ADMIN_PASSWORD=admin

# Application Secrets
# Generate a new random string for production
SECRET_KEY=iaas-jetson-rahasia-ganti-ini
